<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://st10022006-function-app-fsctc2hdbgc2dvh4.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>3583a171-122c-4126-8063-e4b9bb6014ba</ProjectGuid>
    <PublishUrl>https://st10022006-function-app-fsctc2hdbgc2dvh4.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$st10022006-function-app</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>